.card-user {
	border-radius: 10px;
	padding: 1%;
}

.card-user p {
	margin-bottom: 5%;
}

.profile {
	width: 150px;
	height: 150px;
	margin: 2% 0px 10% 0px;
}

button {
	margin: 1%;
}

[hidden] {
	display: none !important;
}

@media screen and (max-width: 527px) {
	.card-user {
		width: 100%;
		margin: 1rem;
	}
}
