.container-fluid {
	background-color: #f8f9fa;
}

.col-card {
	--bs-card-border-width: var(--bs-border-width);
	border-radius: 0.8rem;
	background-color: white;
}

.picture {
	width: 150px;
	height: 150px;
	margin: 2% 0 2% 0;
	padding: 0px;
}

.btn {
	margin: 2% 4% 0% 0%;
}
