:root {
	--tecla-white: #f7f7f7;
	--tecla-pink: #f59fc7;
	--tecla-teal: #79c7c7;
	--tecla-blue-light: #99ccff;
	--tecla-orange: #ff6633;
	--tecla-yellow: #ffff00;
	--tecla-blue: #0066cc;
	--tecla-blueish: #0073b4;
	--tecla-purple: #7809e6;
}

.bg-tecla-white {
	background-color: var(--tecla-white);
}

.bg-tecla-pink {
	background-color: var(--tecla-pink);
}

.bg-tecla-teal {
	background-color: var(--tecla-teal);
}

.bg-tecla-blue-light {
	background-color: var(--tecla-blue-light);
}

.bg-tecla-orange {
	background-color: var(--tecla-orange);
}

.bg-tecla-yellow {
	background-color: var(--tecla-yellow);
}

.bg-tecla-blue {
	background-color: var(--tecla-blue);
}

.bg-tecla-blueish {
	background-color: var(--tecla-blueish);
}

.bg-tecla-purple {
	background-color: var(--tecla-purple);
}

.text-tecla-white {
	color: var(--tecla-white);
}

.text-tecla-pink {
	color: var(--tecla-pink);
}

.text-tecla-teal {
	color: var(--tecla-teal);
}

.text-tecla-blue-light {
	color: var(--tecla-blue-light);
}

.text-tecla-orange {
	color: var(--tecla-orange);
}

.text-tecla-yellow {
	color: var(--tecla-yellow);
}

.text-tecla-blue {
	color: var(--tecla-blue);
}

.text-tecla-blueish {
	color: var(--tecla-blueish);
}

.text-tecla-purple {
	color: var(--tecla-purple);
}

.max-w-prose {
	max-width: 60ch;
}

@font-face {
	font-family: JetBrains Mono;
	src: url(/public/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

.font-family--jetbrains-mono {
	font-family: "JetBrains Mono", monospace;
}

.font-bold {
	font-weight: bold;
}

.tecla-button {
	border-radius: 2rem;
}

.btn-tecla {
	background-color: transparent;
	font-weight: bold;
	border: 3px solid black;
	border-radius: 50px;
	padding: 1rem 2rem 1rem 2rem;
	transition: all 0.2s ease-in-out;
	align-self: start;
	font-size: 1.5rem;
}

.btn-tecla:hover {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

.required:after {
	content: "*";
	color: red;
}
