<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Tecla Social</title>
		<link
			rel="stylesheet"
			href="../public/css/bootstrap.css"
		/>
		<link
			rel="stylesheet"
			href="../public/css/global.css"
		/>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header class="d-flex p-4">
			<p class="h2 font-family--jetbrains-mono">
				<strong>//TECLA</strong>_SOCIAL
			</p>
		</header>
		<main class="flex-grow-1">
			<!-- Añadir contenido aquí -->
			<!-- Fijarse que la ruta de los CSS sea la correcta -->
			<!-- Cambiar también el title por el correspondiente -->
		</main>
		<footer class="d-flex p-4 bg-black text-white">
			<p class="h4 font-family--jetbrains-mono">
				<strong>//TECLA</strong>_SOCIAL
			</p>
		</footer>
	</body>
</html>
